{% extends 'admin/bank_page.html' %}

{% block page_head %}

{% endblock %}

{% block page_content %}
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="form-horzontal" method="post" action="#" role="form">
                <div class="form-group row">
                    <h3 class="card-title row">新增员工</h3>
                    <p class="row">new table</p>
                    <div class="col-lg-3">
<!--                        <label for="name" class="col-form-label">姓名</label>-->
                        {{ form.name.label(class_="col-form-label") }}
                    </div>
                    <div class="col-lg-9">
<!--                        <input class="form-control" maxlength="25" name="name" id="name" type="text" placeholder="Type Something..">-->
                        {{ form.name(class="form_-control") }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3">
<!--                        <label for="department_id" class="col-form-label">部门</label>-->
                        {{ form.depaitment_id.label(class="col-form-label") }}
                    </div>
                    <div class="col-lg-4">
<!--                        <select class="form-control m-d-3" name="department_id" id="department_id">-->
<!--                            {% for depar in departments %}-->
<!--                            <option value="{{ depar.id }}">{{ depar.name }}</option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->
                        {{ form.depaitment_id(class="form-control m-d-3") }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3">
<!--                        <label for="gender" class="col-form-label">性别</label>-->
                        {{ form.gender.label(class="col-form-label") }}
                    </div>
                    <div class="col-lg-9">
<!--                        <label>-->
<!--                            <input type="radio" name="gender" id="male" value="男" checked>-->
<!--                            男-->
<!--                        </label>-->
<!--                        <label>-->
<!--                            <input type="radio" name="gender" id="female" value="女" >-->
<!--                            女-->
<!--                        </label>-->
                        {% for gender in form.gender %}
                            {{ gender }}{{ gender.label}}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3">
<!--                        <label for="job" class="col-form-label">工作</label>-->
                        {{ form.job.label(class="col-form-label") }}
                    </div>
                    <div class="col-lg-9">
<!--                        <input class="form-control" maxlength="10" name="job" id="job" type="text" placeholder="Type Something..">-->
                        {{ form.job(class="form-control") }}
                    </div>
                </div>
                <div class="form-group mb-0 row">
                    <div class="col-lg-3">
<!--                        <label for="birthday" class="col-form-label">生日</label>-->
                        {{ form.birthdate.label(class="col-form-label") }}
                    </div>
                    <div class="col-lg-9">
<!--                        <input class="form-control" maxlength="10" name="birthday" id="birthday" type="text" placeholder="Type Something..">-->
                            {{ form.birthdate(class="form-control") }}
                    </div>
                </div>
                <div class="form-group mb-0 row">
                    <div class="col-lg-3">
<!--                        <label for="idcard" class="col-form-label">IDcard</label>-->
                        {{ form.idcard.label(class="col-form-label") }}
                    </div>
                    <div class="col-lg-9">
<!--                        <input class="form-control" maxlength="10" name="idcard" id="idcard" type="text" placeholder="Type Something..">-->
                        {{ form.idcard(class="form-control") }}
                    </div>
                </div>
                <div class="form-group mb-0 row">
                    <div class="col-lg-3">
<!--                        <label for="address" class="col-form-label">地址</label>-->
                        {{ form.address.label(class="col-form-label") }}
                    </div>
                    <div class="col-lg-9">
<!--                        <input class="form-control" maxlength="10" name="address" id="address" type="text" placeholder="Type Something..">-->
                        {{ form.address(class="form-control") }}
                    </div>
                </div>
                <div class="form-group mb-0 row">
                    <div class="col-lg-3">
<!--                        <label for="salary" class="col-form-label">薪水</label>-->
                        {{ form.salary.label(class="col-form-label") }}
                    </div>
                    <div class="col-lg-4">
<!--                        <input class="form-control" maxlength="10" name="salary" id="salary" type="text" placeholder="Type Something..">-->
                        {{ form.salary(class="form-control") }}
                    </div>
                </div>
                <div class="col-md-offset-3 col-lg-10">
                    <input type="submit" class="btn btn-primary" value="提交">
                    <input type="reset" class="btn btn-default" value="重置">
                    <a href="{{ url_for('admin.emp_list') }}" class="btn btn-default">返回列表</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}